<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <connectionStrings>
    <add name="CybersourceReportDownloader.Properties.Settings.TreasuryConnectionString"
      connectionString="Data Source=CORDEVSQL27;Initial Catalog=Treasury;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CybersourceReportDownloader.Properties.Settings.ePaymentsConfigConnectionString"
      connectionString="Data Source=corsqlepy;Initial Catalog=ePaymentsConfig;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings >
    <add key="ReportFromDate"  value="11/01/2010" />
    <add key="ReportToDate"  value="11/01/2010" />
    <add key="reportName"  value="TransactionDetailReport" />
    <add key="reportFormat"  value="csv" />
    <add key="reportURL"  value="https://ebc.cybersource.com/ebc/DownloadReport/" />
    <add key ="ReportDownloadLocation" value="\\cc-n05-04-07\HexCRM\TreasuryReconciliation\CyberSourceGatewayTransactionDownload\"/>
   

  </appSettings>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="db" xsi:type="Database" dbProvider="sqlserver" connectionString="server=CORSQLDEV27;database=Treasury;Integrated Security=true" commandText="EXEC [dbo].[P_activity_log]&#xD;&#xA;@machine_name,&#xD;&#xA;@logger,&#xD;&#xA; @method_name,&#xD;&#xA; @application_time,&#xD;&#xA; @severity,&#xD;&#xA;	@eventid,&#xD;&#xA;	@message">
        <parameter name="@machine_name" layout="${machinename}" />
        <parameter name="@logger" layout="${logger}" />
        <parameter name="@method_name" layout="${callsite}" />
        <parameter name="@application_time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
        <parameter name="@severity" layout="${level}" />
        <parameter name="@eventid" layout="${event-context:item=EventID}" />
        <parameter name="@message" layout="${message}" />
      </target>
      <target name="mail" xsi:type="Mail" smtpServer="Exchims1.ncogroup.com" from="crm_reporter@ncogroup.com" to="satyajit.nalavade@ncogroup.com" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" maxlevel="Fatal" writeTo="db" />
      <logger name="*" levels="Trace" writeTo="mail" />
    </rules>
  </nlog>
</configuration>